<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @clase_vehiculo.nombre %>
</p>

<%= link_to 'Edit', edit_clase_vehiculo_path(@clase_vehiculo) %> |
<%= link_to 'Back', clase_vehiculos_path %>
