footer{
    text-align: center;
}

.content-header{
    background-color: #eee;
    font-weight: bold;
    font-size: 14pt;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    min-height: 30px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #aaa;
}

.content-body{
    border: 1px solid #aaa;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 10px;
}